.pagamentos-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.pagamentos-hero {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.pagamentos-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 1em var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
}

.pagamentos-container-data {
  display:  flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.pagamentos-container25 {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pagamentos-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.pagamentos-container27 {
  width: 100%;
  height: 508px;
  display: flex;
  align-items: flex-start;
}
.pagamentos-div {
  width: 100%;
  height: 100%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}

.pagamentos-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.pagamentos-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamentos-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagamentos-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pagamentos-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}

.pagamentos-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.pagamentos-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pagamentos-container28 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.pagamentos-image {
  height: 2rem;
}
.pagamentos-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagamentos-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pagamentos-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.pagamentos-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
.pagamentos-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.pagamentos-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.pagamentos-book {
  text-decoration: none;
}
.pagamentos-image1 {
  width: 18px;
  object-fit: cover;
}
.pagamentos-text37 {
  font-family: Inter;
}
.pagamentos-image2 {
  width: 128px;
  height: 117px;
}
.pagamentos-nav2 {
  display: flex;
}
.pagamentos-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.pagamentos-burger-menu1 {
  display: none;
}

.pagamentos-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.pagamentos-nav3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pagamentos-container29 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.pagamentos-image3 {
  height: 2rem;
}
.pagamentos-menu-close1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagamentos-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.pagamentos-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.pagamentos-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.pagamentos-image4 {
  width: 245px;
  height: 201px;
  object-fit: cover;
}
.pagamentos-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.pagamentos-text41 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 21px;
}
.pagamentos-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.pagamentos-row {
  display: flex;
}
.pagamentos-copyright2 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}