.header {
    width: 100%;
    min-width: 100vw;
    padding: 0 var(--dl-space-space-fiveunits);
}

.navbar {
    width: 100%;
    display: flex;
    z-index: 100;
    max-width: 1440px;
    align-items: center;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
}